{% extends 'base.html' %}

{% block content %}
    <div class="profile-update-container">
        <h2>Update Profile</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <h4>Update User Info</h4>
                {{ user_form.as_p }}
            </div>
            <div>
                <h4>Update Profile Picture</h4>
                {{ profile_form.as_p }}
            </div>
            <button type="submit">Update Profile</button>
        </form>
    </div>
{% endblock %}
